/********************************************
**************** ~BRANDING~ *****************
********************************************/
.az-logo-01{
  .cls-1{ fill:none; }
  .cls-2{ fill:$color-AZ-red; }
}
.az-logo-02{
  .cls-1{ fill:$color-AZ-red }
  .cls-2{ fill:none; }
  .cls-3{ fill: #fff; }
  .cls-4{ fill: #231f20;}
}
